<% flash.each do |key, value| %>
  <div class="flash-message alert <%= key == 'notice' ? 'alert-success' : 'alert-danger' %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <%= value %>
  </div>
<% end %>
