<p>Hello <%= @resource.email %>!</p>

<p>
パスワードの再設定依頼を受け付けました。<br>
下記のURLよりパスワードの再設定を行ってください。
</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※本メールはお客様にご入力いただいたメールアドレス宛に送信しているため、入力ミスなどの理由により別の方にメールが届く可能性があります。</p>
<p>本メールにお心当たりが無い場合は、お手数ですが、破棄していただきますようお願いします。</p>
